caib-scanweb-plugin/src/main/resources/ServicioEntidades.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="EntidadesWSService" targetNamespace="http://service.ws.digital.caib.es/" xmlns:ns1="http://service.ws.digital.caib.es/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://service.ws.digital.caib.es/" version="1.0" xmlns:tns="http://service.ws.digital.caib.es/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="configuracionPlantillaEntidad" type="tns:configuracionPlantillaEntidad" />
<xs:element name="deleteEntidad" type="tns:deleteEntidad" />
<xs:element name="deleteEntidadAll" type="tns:deleteEntidadAll" />
<xs:element name="deleteEntidadAllResponse" type="tns:deleteEntidadAllResponse" />
<xs:element name="deleteEntidadResponse" type="tns:deleteEntidadResponse" />
<xs:element name="deleteLogoEntidad" type="tns:deleteLogoEntidad" />
<xs:element name="deleteLogoEntidadResponse" type="tns:deleteLogoEntidadResponse" />
<xs:element name="deletePlantillaEntidad" type="tns:deletePlantillaEntidad" />
<xs:element name="deletePlantillaEntidadResponse" type="tns:deletePlantillaEntidadResponse" />
<xs:element name="getEntidad" type="tns:getEntidad" />
<xs:element name="getEntidadDynamic" type="tns:getEntidadDynamic" />
<xs:element name="getEntidadDynamicResponse" type="tns:getEntidadDynamicResponse" />
<xs:element name="getEntidadResponse" type="tns:getEntidadResponse" />
<xs:element name="getTodasEntidades" type="tns:getTodasEntidades" />
<xs:element name="getTodasEntidadesResponse" type="tns:getTodasEntidadesResponse" />
<xs:element name="saveEntidad" type="tns:saveEntidad" />
<xs:element name="saveEntidadAll" type="tns:saveEntidadAll" />
<xs:element name="saveEntidadAllResponse" type="tns:saveEntidadAllResponse" />
<xs:element name="saveEntidadResponse" type="tns:saveEntidadResponse" />
<xs:element name="updateEntidad" type="tns:updateEntidad" />
<xs:element name="updateEntidadResponse" type="tns:updateEntidadResponse" />
<xs:element name="updateLogoEntidad" type="tns:updateLogoEntidad" />
<xs:element name="updateLogoEntidadResponse" type="tns:updateLogoEntidadResponse" />
<xs:element name="updatePlantillaEntidad" type="tns:updatePlantillaEntidad" />
<xs:element name="updatePlantillaEntidadResponse" type="tns:updatePlantillaEntidadResponse" />
<xs:complexType name="getEntidadDynamic">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="tns:entidad" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="entidad">
<xs:complexContent>
<xs:extension base="tns:baseVO">
<xs:sequence>
<xs:element minOccurs="0" name="codigo" type="xs:string" />
<xs:element minOccurs="0" name="codigoOrgano" type="xs:string" />
<xs:element minOccurs="0" name="configuracionFirmaEntidad" type="tns:configuracionFirmaEntidad" />
<xs:element minOccurs="0" name="configuracionPlantillaEntidad" type="tns:configuracionPlantillaEntidad" />
<xs:element minOccurs="0" name="esDefault" type="xs:string" />
<xs:element minOccurs="0" name="fechaAlta" type="xs:dateTime" />
<xs:element minOccurs="0" name="id" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="metaDatos" nillable="true" type="tns:metaDato" />
<xs:element minOccurs="0" name="nombre" type="xs:string" />
<xs:element minOccurs="0" name="orderBy" type="xs:string" />
<xs:element minOccurs="0" name="tipoIntegracion" type="xs:string" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="baseVO">
<xs:sequence />
</xs:complexType>
<xs:complexType name="configuracionFirmaEntidad">
<xs:complexContent>
<xs:extension base="tns:baseVO">
<xs:sequence>
<xs:element minOccurs="0" name="alias" type="xs:string" />
<xs:element minOccurs="0" name="localizacion" type="xs:string" />
<xs:element minOccurs="0" name="passwordCertificado" type="xs:string" />
<xs:element minOccurs="0" name="razonFirma" type="xs:string" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="configuracionPlantillaEntidad">
<xs:complexContent>
<xs:extension base="tns:baseVO">
<xs:sequence>
<xs:element minOccurs="0" name="logoEntidad" type="xs:base64Binary" />
<xs:element minOccurs="0" name="bytesPlantillaPersonalizada" type="xs:base64Binary" />
<xs:element minOccurs="0" name="nombreFicheroLogo" type="xs:string" />
<xs:element minOccurs="0" name="nombreFicheroPlantillaTransformacion" type="xs:string" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="metaDato">
<xs:complexContent>
<xs:extension base="tns:baseVO">
<xs:sequence>
<xs:element minOccurs="0" name="id" type="xs:string" />
<xs:element minOccurs="0" name="idEntidad" type="xs:int" />
<xs:element minOccurs="0" name="labelMetaDato" type="xs:string" />
<xs:element minOccurs="0" name="longitud" type="xs:int" />
<xs:element minOccurs="0" name="nombreMetaDato" type="xs:string" />
<xs:element minOccurs="0" name="orden" type="xs:int" />
<xs:element minOccurs="0" name="tipoMetaDato" type="xs:int" />
<xs:element minOccurs="0" name="valorDefault" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="valoresMetaDatos" nillable="true" type="tns:valorMetaDato" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="valorMetaDato">
<xs:complexContent>
<xs:extension base="tns:baseVO">
<xs:sequence>
<xs:element minOccurs="0" name="clave" type="xs:string" />
<xs:element minOccurs="0" name="id" type="xs:string" />
<xs:element minOccurs="0" name="idMetaDato" type="xs:int" />
<xs:element minOccurs="0" name="valor" type="xs:string" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="getEntidadDynamicResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:entidad" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteLogoEntidad">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteLogoEntidadResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:entidad" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteEntidad">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteEntidadResponse">
<xs:sequence />
</xs:complexType>
<xs:complexType name="updateEntidad">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="tns:entidad" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateEntidadResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:entidad" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteEntidadAll">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteEntidadAllResponse">
<xs:sequence />
</xs:complexType>
<xs:complexType name="updatePlantillaEntidad">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
<xs:element minOccurs="0" name="arg1" type="xs:base64Binary" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="updatePlantillaEntidadResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:entidad" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="saveEntidadAll">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="tns:entidad" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="saveEntidadAllResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:entidad" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="saveEntidad">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="tns:entidad" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="saveEntidadResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:entidad" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getTodasEntidades">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getTodasEntidadesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:entidad" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getEntidad">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getEntidadResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:entidad" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="deletePlantillaEntidad">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="deletePlantillaEntidadResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:entidad" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateLogoEntidad">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
<xs:element minOccurs="0" name="arg1" type="xs:base64Binary" />
<xs:element minOccurs="0" name="arg2" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateLogoEntidadResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:entidad" />
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="deleteEntidadAllResponse">
    <wsdl:part element="ns1:deleteEntidadAllResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePlantillaEntidad">
    <wsdl:part element="ns1:deletePlantillaEntidad" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveEntidad">
    <wsdl:part element="ns1:saveEntidad" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteLogoEntidad">
    <wsdl:part element="ns1:deleteLogoEntidad" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTodasEntidades">
    <wsdl:part element="ns1:getTodasEntidades" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveEntidadResponse">
    <wsdl:part element="ns1:saveEntidadResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteEntidadResponse">
    <wsdl:part element="ns1:deleteEntidadResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteEntidadAll">
    <wsdl:part element="ns1:deleteEntidadAll" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateLogoEntidad">
    <wsdl:part element="ns1:updateLogoEntidad" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntidadDynamic">
    <wsdl:part element="ns1:getEntidadDynamic" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntidadDynamicResponse">
    <wsdl:part element="ns1:getEntidadDynamicResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteEntidad">
    <wsdl:part element="ns1:deleteEntidad" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveEntidadAll">
    <wsdl:part element="ns1:saveEntidadAll" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePlantillaEntidadResponse">
    <wsdl:part element="ns1:deletePlantillaEntidadResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntidadResponse">
    <wsdl:part element="ns1:getEntidadResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateEntidadResponse">
    <wsdl:part element="ns1:updateEntidadResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTodasEntidadesResponse">
    <wsdl:part element="ns1:getTodasEntidadesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateLogoEntidadResponse">
    <wsdl:part element="ns1:updateLogoEntidadResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveEntidadAllResponse">
    <wsdl:part element="ns1:saveEntidadAllResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntidad">
    <wsdl:part element="ns1:getEntidad" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatePlantillaEntidadResponse">
    <wsdl:part element="ns1:updatePlantillaEntidadResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateEntidad">
    <wsdl:part element="ns1:updateEntidad" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatePlantillaEntidad">
    <wsdl:part element="ns1:updatePlantillaEntidad" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteLogoEntidadResponse">
    <wsdl:part element="ns1:deleteLogoEntidadResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EntidadesWSService">
    <wsdl:operation name="getEntidadDynamic">
      <wsdl:input message="ns1:getEntidadDynamic" name="getEntidadDynamic">
    </wsdl:input>
      <wsdl:output message="ns1:getEntidadDynamicResponse" name="getEntidadDynamicResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteLogoEntidad">
      <wsdl:input message="ns1:deleteLogoEntidad" name="deleteLogoEntidad">
    </wsdl:input>
      <wsdl:output message="ns1:deleteLogoEntidadResponse" name="deleteLogoEntidadResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteEntidad">
      <wsdl:input message="ns1:deleteEntidad" name="deleteEntidad">
    </wsdl:input>
      <wsdl:output message="ns1:deleteEntidadResponse" name="deleteEntidadResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateEntidad">
      <wsdl:input message="ns1:updateEntidad" name="updateEntidad">
    </wsdl:input>
      <wsdl:output message="ns1:updateEntidadResponse" name="updateEntidadResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteEntidadAll">
      <wsdl:input message="ns1:deleteEntidadAll" name="deleteEntidadAll">
    </wsdl:input>
      <wsdl:output message="ns1:deleteEntidadAllResponse" name="deleteEntidadAllResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePlantillaEntidad">
      <wsdl:input message="ns1:updatePlantillaEntidad" name="updatePlantillaEntidad">
    </wsdl:input>
      <wsdl:output message="ns1:updatePlantillaEntidadResponse" name="updatePlantillaEntidadResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveEntidadAll">
      <wsdl:input message="ns1:saveEntidadAll" name="saveEntidadAll">
    </wsdl:input>
      <wsdl:output message="ns1:saveEntidadAllResponse" name="saveEntidadAllResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveEntidad">
      <wsdl:input message="ns1:saveEntidad" name="saveEntidad">
    </wsdl:input>
      <wsdl:output message="ns1:saveEntidadResponse" name="saveEntidadResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTodasEntidades">
      <wsdl:input message="ns1:getTodasEntidades" name="getTodasEntidades">
    </wsdl:input>
      <wsdl:output message="ns1:getTodasEntidadesResponse" name="getTodasEntidadesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntidad">
      <wsdl:input message="ns1:getEntidad" name="getEntidad">
    </wsdl:input>
      <wsdl:output message="ns1:getEntidadResponse" name="getEntidadResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePlantillaEntidad">
      <wsdl:input message="ns1:deletePlantillaEntidad" name="deletePlantillaEntidad">
    </wsdl:input>
      <wsdl:output message="ns1:deletePlantillaEntidadResponse" name="deletePlantillaEntidadResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateLogoEntidad">
      <wsdl:input message="ns1:updateLogoEntidad" name="updateLogoEntidad">
    </wsdl:input>
      <wsdl:output message="ns1:updateLogoEntidadResponse" name="updateLogoEntidadResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>